*{
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #620096;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.brand-logo {
    width: 90px; /* Tamaño del logo */
    height: 90px;
    border-radius: 50%; /* Hace que la imagen sea circular */
    object-fit: cover; /* Asegura que la imagen se ajuste bien al círculo */
    display: block;
    margin: 0 auto 10px; /* Centrar y dar espacio entre el logo y el título */
}

header h1 {
    font-family: "Bangers", serif;
    margin: 0;
    font-size: 2.5rem;
}

nav {
    text-align: center;
    background-color: #a19ca4;
    padding: 10px 0;
    max-width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

section {
    padding: 40px;
    text-align: center;
}

section h2 {
    color: #ff4081;
    font-size: 2em;
}

section p {
    font-size: 1.2em;
    margin: 20px 0;
}

.streaming-links {
    display: flex;
    gap: 20px; /* Espaciado entre iconos */
    justify-content: center; /* Centrar los iconos */
    margin-top: 15px;
}

.streaming-links a {
    font-size: 50px; /* Tamaño grande para los iconos */
    color: #000; /* Color negro (puedes cambiarlo) */
    transition: color 0.3s ease;
}

.streaming-links a:hover {
    color: #ff4081; /* Color al pasar el mouse (puedes cambiarlo) */
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form label {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    text-align: left;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #620096;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: #ff4081;
}

.contact-form button {
    background-color: #ff4081;
    color: #fff;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #d8356d;
}

/* Responsivo */
@media (max-width: 600px) {
    .contact-form {
        width: 90%;
    }
}

footer {
    margin-top: 10px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}